@font-face {
   font-family: RobotoBold;
   src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
   font-family: RobotoRegular;
   src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
   font-family: RobotoLight;
   src: url(../fonts/Roboto-Light.ttf);
}

@font-face {
   font-family: RobotoMedium;
   src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
   font-family: icomoon;
   src: url(../fonts/icomoon.ttf);
}